<!DOCTYPE html>
<html lang="fr" ng-app="allalong">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>All Along - Diablo 3</title>
    <script type="text/javascript" src="scripts/vendors/angular.min.js"></script>
    <script type="text/javascript" src="scripts/vendors/angular-route.min.js"></script>
    <script type="text/javascript" src="scripts/controllers.js"></script>
    <script type="text/javascript" src="scripts/app.js"></script>
    <script type="text/javascript" src="scripts/prototype.js"></script>

    <link type="text/css" rel="stylesheet" href="design/pure.min.css" />
    <link type="text/css" rel="stylesheet" href="design/pure-theme.min.css" />
    <link type="text/css" rel="stylesheet" href="design/style.css" />
  </head>
  <body ng-controller="mainController as main">
    <div class="pure-g">
      <div class="pure-u-2-24"></div>
      <div class="pure-u-22-24">
        <div class="pure-menu pure-menu-open pure-menu-horizontal">
          <a href="#/" class="pure-menu-heading">All Along</a>
          <ul>
            <li class="">
              <a href="#/">{{ main.labels.home[main.locale].upperCaseFirst() }}</a>
            </li>
            <li class="">
              <a href="#/sentry_as">{{ main.labels.sentryAsMenu[main.locale].upperCaseFirst() }}</a>
            </li>
            <li class="">
              <a ng-href="{{ 'https://docs.google.com/forms/d/' + ((main.locale === 'en') ? '1rHjtoJ4kzKDY38yRFj3skunVHTTNyErEITx53l7vsFU' : '17z5K0Lhts9r4AL0fE2kM7fe1VNnnQ2dbdiwZb203VPI') + '/viewform' }}" target="_blank">{{ main.labels.recruitment[main.locale].upperCaseFirst() }}</a>
            </li>
            <li class="">
              <a href="http://dashboard.allalong.eu" target="_blank">{{ main.labels.dashboard[main.locale].upperCaseFirst() }}</a>
            </li>
            <li class="">
              <a href="https://docs.google.com/spreadsheet/ccc?key=0AilMAE0hGCBndGloU3IyRFhwSWJXMmI4SnJzTjR2Vnc&usp=drive_web#gid=0" target="_blank">{{ main.labels.events[main.locale].upperCaseFirst() }}</a>
            </li>
            <li class="" ng-repeat="loc in main.locales">
              <a href="javascript:void(0);" ng-click="main.locale = loc">{{ loc }}</a>
            </li>
          </ul>
        </div>

        <div id="container" ng-view>

        </div>
      </div>
      <div class="pure-u-2-24"></div>
    </div>
  </body>
</html>
