<div ng-controller="membersController" class="members">
  <div ng-repeat="member in members" class="member">
    <object xmlns="http://www.w3.org/1999/xhtml"
      class="member--pic"
      type="application/x-shockwave-flash"
      data="http://eu.battle.net/d3/static/flash/hero/{{ member.main }}.swf"
      width="230"
      height="270"
      id="model-canvas-flash"
      style="visibility: visible;">
        <param name="bgcolor" value="#12110f" />
        <param name="quality" value="high" />
        <param name="wmode" value="transparent" />
    </object>
    <p class="member--name">
      {{ member.name }}
    </p>
    <p class="member--btag">
      {{ member.btag }}
    </p>
    <p class="member--links">
      <a class="member--links--bnet" ng-href="{{ member.bnetMain }}" target="_blank">battle.net</a>&nbsp;|&nbsp;<a class="member--links--dp" ng-href="{{ member.dpMain }}" target="_blank">diabloprogress</a>
    </p>
    <p class="member--summary">
      {{ member.summary }}
    </p>
  </div>
  <style type="text/css">
    .members { width: calc(100% - 40px); margin: 0 20px;  }
    .member { width: 230px; height: 380px; background-color: rgba(155, 155, 155, .8); padding: 10px; display: inline-block; margin: 10px; }
    .member > p { margin: 0; padding: 0; }
    .member--name { color: #E84E1B; }
    .member--btag { color: #646464; }
    .member--links { font-size: 14px; color: #646464; }
    .member--links > a, .member--links > a:visited { color: #E84E1B; text-decoration: none; }
    .member--summary { font-style: italic; text-align: center; line-height: 30px; color: #646464; }
  </style>
</div>
